ul {
    list-style: none;
}
strong {
    color: #A40004;
}
.h1 {
    font-size: 2em;
    color: #555;
}
/*头尾*/

header {
    margin-bottom: 20px;
}
header nav {
    height: 60px;
    border-bottom: 1px solid #ccc;
}
nav ul,
nav ul li,
nav ul li a {
    height: 100%;
}
header li {
    display: block;
    float: left;
}
header li a {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 60px;
    margin-right: 30px
}
header li a:hover,
header li a.active {
    text-decoration: none;
    border-bottom: 3px solid #0C79B5;
}
footer p#copyright {
    border-top: 1px solid #ccc;
    text-align: right;
}
header nav,
footer p#copyright,
.container {
    max-width: 100rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.container {
    min-height: 500px;
}
/*标签*/

a.tag {
    padding: 0 5px;
}
div.tag-clound {
    border: 1px dashed #555;
    padding: 10px;
    line-height: 2em;
}
div.tag-articles-container {
    margin: 20px 0;
}
a.tag-title {
    font-size: 2em;
    font-weight: bold;
}
a.tag-title:hover {
    text-decoration: none;
    color: #0C79B5
}
ul.tag-ul {
    margin-bottom: 30px;
}
div.tag-clound a.tag {
    background: #864570;
    margin-right: 10px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 0.5em;
}
div.tag-clound a.tag:hover {
    text-decoration: none;
}
span.tag-count {
    padding-left: 3px;
    font-size: 0.95em;
}
/*首页文章列表*/

li.article-item {
    border-bottom: 1px dashed #555;
    margin: 40px 0;
}
p.article-meta {
    color: #999;
    height: 3em;
    line-height: 3em;
    text-align: right;
}