<!doctype html>
<html>
{{> header}}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{> banner tags}}
            </div>
            <div class="col-md-9">
                <h1>个人介绍</h1>
                <p>性别 男
                    <br>生活在魔都
                    <br>正职为一名码农
                    <br>本人非技术狂，每天总有那么一段时间身体会跟不上思想的节奏（放空）。
                    <br>选择做码农是因为儿时一老师无意间的一句非专业意见：你的这双手长得蛮好，很适合打电脑啊。从此踏上一条不归路。
                    <br>联系方式 <a href="mailto:zachary.woo@163.com">zachary.woo@163.com</a>
                </p>
            </div>
        </div>

    </div>
    {{> footer}} {{> footer_plugin}}
</body>

</html>
