<!doctype html>
<html>
{{> header}}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{> banner tags}}
            </div>
            <div class="col-md-9">
                <h1>{{article.title}}</h1>
                {{{article.content}}}
                <div class="article-footer">
                    {{> article_footer_plugin article}}
                </div>
            </div>
        </div>

    </div>
    {{> footer}} {{> footer_plugin}}
</body>

</html>
