<footer>
    <p id="copyright">
        拥有者：{{author}}
        <br>本博客内容采用<a target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>进行许可
        <br>power by <a target="_blank" href="https://coding.net/u/zackwoo/p/micblog/git">micblog</a> {{version}}
        <br>Copyright (c) {{copyright.beginYear}}-{{copyright.endYear}}
    </p>
</footer>
<script src="//libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<script src="/jquery-ui-1.9.1.custom.min.js"></script>
<script src="/jquery.tocify.min.js"></script>
<script src="/micblog.js"></script>
