<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="{{#each keywords}}{{this}},{{/each}}page" />
    <meta name="author" content="{{author}}" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{title}}</title>
    <link rel="stylesheet" href="/themes/normalize.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/themes/bootstrap/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/themes/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/themes/highlight.css">
    <link rel="stylesheet" href="/themes/default/main.css">
</head>
